name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Set up Go environment
      uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'

    - name: Build application
      run: go build -v ./...

    - name: Test application
      run: go test -v ./...
